<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/niveles-educacion" routersDirection="back">
                <!--  enrutar a la otra vista -->
                <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Núcleo Familiar</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form>
        <ion-list>
            <ion-item>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label>Padre</ion-label>
            </ion-item>
            <ion-item>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label>Madre</ion-label>
            </ion-item>
            <ion-item>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label>Hermano(a)</ion-label>
            </ion-item>
            <ion-item>

                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label>Esposo(a)</ion-label>
            </ion-item>
            <ion-item>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label>Hijo(a)</ion-label>
            </ion-item>
        </ion-list>
        <div>
            <!-- <ion-button routerLink="/salud" routersDirection="forward">
            Guardar
        </ion-button>-->
            <ion-button type="submit">
                Guardar
            </ion-button>
        </div>
    </form>
</ion-content>