<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/niveles-educacion" routersDirection="back">
                <!--  enrutar a la otra vista -->
                <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Núcleo Familiar</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-radio-group>
            <ion-item>
                <ion-label>Padre</ion-label>
                <ion-radio slot="end" color="secondary"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Madre</ion-label>
                <ion-radio slot="end" color="secondary"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Hermano(s)</ion-label>
                <ion-radio slot="end" color="secondary"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Esposo(a)</ion-label>
                <ion-radio slot="end" color="secondary"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Hijo(s)</ion-label>
                <ion-radio slot="end" color="secondary"></ion-radio>
            </ion-item>


        </ion-radio-group>
    </ion-list>
    <div>
        <ion-button routerLink="/salud" routersDirection="forward">
            Guardar
        </ion-button>
    </div>
</ion-content>