<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/datos-personales" routersDirection="back">
                <!--  enrutar a la otra vista -->
                <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Nivel de Educación</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-radio-group>
            <ion-item>
                <ion-label>Primaria</ion-label>
                <ion-radio slot="end" color="secondary"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Secundaria</ion-label>
                <ion-radio slot="end" color="secondary"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Técnico</ion-label>
                <ion-radio slot="end" color="secondary"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Tecnólogo</ion-label>
                <ion-radio slot="end" color="secondary"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Profesional</ion-label>
                <ion-radio slot="end" color="secondary"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Ninguno</ion-label>
                <ion-radio slot="end" color="secondary"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Otro
                    <ion-text color="danger"></ion-text>
                </ion-label>
                <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <div>
        <ion-button type="submit">
            Guardar
        </ion-button>
    </div>
</ion-content>
<!-- <ion-content class="ion-padding">
        <ion-radio-group allow-empty-selection [(ngModel)]="id_niveledu">
            <ion-list>
                <ion-item *ngFor="let l of buttonNiveles">
                    <ion-label color="light">
                        {{ l.descripcion }}
                    </ion-label>
                    <ion-radio slot="end" color="primary" [value]="l.id_niveledu"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-radio-group> -->
<!-- <ion-button routerLink="/nucleo-familiar" routersDirection="forward">
            Guardar
        </ion-button> -->